.carousel-item h2 {
  position: absolute;
  top: 340px;
  right: 240px;
  color: whitesmoke;
}

.carousel-item h3 {

  position: absolute;
  top: 256px;
  left: 242px;
  color: black;
  font-weight: 700;

}

.visually-hidden span {}

.carousel-control-next-icon {
  height: 2rem;
  width: 2rem;
}