#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #000;
    color: #000;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.pd {
    padding: 0px 20px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide body {
    background: #000;
    color: #000;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    background-color: black;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: relative; */
    /* border: 1px solid black */
}

.swiper-button-prev,
.swiper-button-next {
    color: black !important;
    display: none !important;
}

.back-black {
    background-color: #000;
}

.swiper-wrapper {
    margin-top: 20px !important;
    /* background-color: #000; */
}

.swiper-horizontal {
    margin: -25px !important;
}

.swiper-wrapper img {
    /* border: 1px solid black; */
}

.mySwiper {
    padding-bottom: 50px;
}

.zoomButton {
    position: absolute;
    top: 300px;
    right: 0;
}

.slideImage {
    position: relative;
    z-index: -1;
}

.buyBtn {
    padding-top: 50px;
    margin: 20px;
    display: flex;
    gap: 20px;
}

.buyBtn button {
    width: 170px;
}